.navbar{
    background-color:black ; 
     height: 88px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left:20px ;
    padding-right: 20px;
    
    
}


.letter{
 font-size: 30px;
 color: yellow;
    

    
}
.letter1{

    color: blue ;
    font-size: 10px;
    margin-right: 4px;
    color: white;
     
}
.flexright
{
    display: flex;
    

}

.middle{
    color: white;
   
}
.button
{
   
  background-color: #f1f1f1;
  font-size: 20px;
  color: white;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: yellow;

   
}
.container{
    background-image:url(pexels-photo-346529\ 1.png);
    /* background: green; */
    text-align: center;
    
    height: 200px;
    background-position: center;
 display: flex;
 justify-content: center; 

}